.thumbnail img {
    width: auto;
    min-height: 15em;
    overflow: hidden;
    object-fit: cover;
}

.thumbnail .description {
    color: #848484;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.thumbnail {
    min-height: 300px;
}

.inline-block {
	display: inline-block;
}

.edit-cart {
	margin-top: 20px;
}

.badge-primary {
  background-color: #3a87ad;
}

.badge-primary:hover {
  background-color: #2d6987;
}

#cart-primary {
    color: #3a87ad;
}