<% layout("/layouts/boilerplate") -%>

<form action="/admin/alcatraz" method="POST">
	<div class="form-group">
		<label for="datetime">Date and Time</label>
		<div class="input-group date" id="datetimepicker1">
			<input type="text" id="datetime" name="alcatraz[datetime]" class="form-control" required>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="stock-qty">Stock Quantity</label>
		<input type="number" id="stock-qty" name="alcatraz[stockQty]" class="form-control" required>
	</div>
	
	<fieldset>
		<legend>Combination Products</legend>
		<p><a href="/admin/combo-products/new" target="_blank" class="btn btn-sm btn-success">Create New Combo Product</a></p>
		<select multiple class="form-control" name="alcatraz[comboProducts]" required>
		<% comboProducts.forEach(function(comboProduct) { %>
		  <option value="<%= comboProduct._id %>"><%= comboProduct.title %></option>
		<% }); %>
		</select>
	</fieldset>

	<input type="submit" class="btn btn-primary">
</form>

<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
	});
</script>
