<% layout("layouts/boilerplate") -%>

<form action="/alcatraz" method="POST">
	<div class="form-group">
		<label for="datetime">Date and Time</label>
		<div class="input-group date" id="datetimepicker1">
			<input type="text" id="datetime" name="alcatraz[datetime]" class="form-control" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="stock-qty">Stock Quantity</label>
		<input type="number" id="stock-qty" name="alcatraz[stock_qty]" class="form-control" required>
	</div>

	<input type="submit" class="btn btn-default">
</form>

<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
	});
</script>
