<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-md-12">
    <h1>All Tours</h1>
  </div>
  <% products.forEach(function(product) { %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a href="/products/<%= product.id %>">
        <img src="<%= product.image %>" alt="Alcatraz">
      </a>
      <div class="caption">
        <h4><%= product.name %></h4>
        <p class="description">From: $<%= product.prices.adult %></p>
      </div>
    </div>
  </div>
  <% }); %>
</div>