<% layout('layouts/boilerplate') -%>

<form action="/products" method="POST">
	<label for="name">Name:</label>
	<input type="name" id="name" name="product[name]" required>
	
	<h4>Prices</h4>
	<label for="adult">Adult:</label>
	<input type="text" name="product[prices][adult]" id="adult">
	
	<label for="child">Child:</label>
	<input type="text" name="product[prices][child]" id="child">

	<label for="senior">Senior:</label>
	<input type="text" name="product[prices][senior]" id="senior">

	<input type="submit">
</form>